body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1930px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1926px;
  height:913px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:62px;
  width:1926px;
  height:913px;
  display:flex;
  color:#FFFFFF;
}
#u414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:913px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:62px;
  width:313px;
  height:913px;
  display:flex;
  color:#FFFFFF;
}
#u415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:916px;
  width:31px;
  height:25px;
}
#u416_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u416_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:48px;
  background:inherit;
  background-color:rgba(64, 255, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 255, 239, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:1842px;
  top:62px;
  width:88px;
  height:48px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:114px;
  width:32px;
  height:30px;
  display:flex;
}
#u418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F6F6F6;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:113px;
  width:56px;
  height:31px;
  display:flex;
  font-size:28px;
  color:#F6F6F6;
}
#u419 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:170px;
  width:32px;
  height:32px;
  display:flex;
}
#u420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:340px;
  width:32px;
  height:32px;
  display:flex;
}
#u421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:389px;
  width:32px;
  height:32px;
  display:flex;
}
#u422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F6F6F6;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:170px;
  width:113px;
  height:31px;
  display:flex;
  font-size:28px;
  color:#F6F6F6;
}
#u423 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F6F6F6;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:340px;
  width:113px;
  height:31px;
  display:flex;
  font-size:28px;
  color:#F6F6F6;
}
#u424 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F6F6F6;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:389px;
  width:113px;
  height:31px;
  display:flex;
  font-size:28px;
  color:#F6F6F6;
}
#u425 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:347px;
  width:15px;
  height:25px;
  display:flex;
}
#u426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:178px;
  width:25px;
  height:15px;
  display:flex;
  color:#3F3F3F;
}
#u427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:219px;
  width:25px;
  height:23px;
  display:flex;
}
#u428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#F6F6F6;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:219px;
  width:95px;
  height:23px;
  display:flex;
  font-size:22px;
  color:#F6F6F6;
}
#u429 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:254px;
  width:25px;
  height:23px;
  display:flex;
}
#u430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#F6F6F6;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:254px;
  width:95px;
  height:23px;
  display:flex;
  font-size:22px;
  color:#F6F6F6;
}
#u431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:289px;
  width:25px;
  height:23px;
  display:flex;
}
#u432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#F6F6F6;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:289px;
  width:95px;
  height:23px;
  display:flex;
  font-size:22px;
  color:#F6F6F6;
}
#u433 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:347px;
  width:12px;
  height:9px;
  display:flex;
}
#u434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:178px;
  width:221px;
  height:47px;
  display:flex;
  font-size:36px;
}
#u435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:61px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:254px;
  width:250px;
  height:61px;
  display:flex;
}
#u436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:315px;
  width:250px;
  height:61px;
  display:flex;
}
#u437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:61px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:376px;
  width:250px;
  height:61px;
  display:flex;
}
#u438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:437px;
  width:250px;
  height:61px;
  display:flex;
}
#u439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:61px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:498px;
  width:250px;
  height:61px;
  display:flex;
}
#u440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:559px;
  width:250px;
  height:61px;
  display:flex;
}
#u441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:394px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:245px;
  width:1px;
  height:393px;
  display:flex;
  -webkit-transform:rotate(-0.861203688327607deg);
  -moz-transform:rotate(-0.861203688327607deg);
  -ms-transform:rotate(-0.861203688327607deg);
  transform:rotate(-0.861203688327607deg);
}
#u442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:266px;
  width:119px;
  height:37px;
  display:flex;
  font-size:28px;
}
#u443 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u444 label {
  left:0px;
  width:100%;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:337px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u444 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u444_img.selected {
}
#u444.selected {
}
#u444_img.disabled {
}
#u444.disabled {
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u444_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u445 label {
  left:0px;
  width:100%;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:395px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u445 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u445_img.selected {
}
#u445.selected {
}
#u445_img.disabled {
}
#u445.disabled {
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u445_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u446 label {
  left:0px;
  width:100%;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:456px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u446 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u446_img.selected {
}
#u446.selected {
}
#u446_img.disabled {
}
#u446.disabled {
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u446_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u447 label {
  left:0px;
  width:100%;
}
#u447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:517px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u447 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u447_img.selected {
}
#u447.selected {
}
#u447_img.disabled {
}
#u447.disabled {
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u447_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:570px;
  width:140px;
  height:40px;
  display:flex;
}
#u448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:58px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:254px;
  width:148px;
  height:58px;
  display:flex;
  font-size:28px;
}
#u449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:254px;
  width:645px;
  height:58px;
  display:flex;
}
#u450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:122px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:340px;
  width:795px;
  height:122px;
  display:flex;
}
#u451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:358px;
  width:112px;
  height:31px;
  display:flex;
  font-size:28px;
}
#u452 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u453 label {
  left:0px;
  width:100%;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:411px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u453 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u453_img.selected {
}
#u453.selected {
}
#u453_img.disabled {
}
#u453.disabled {
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u453_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u454 label {
  left:0px;
  width:100%;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:411px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u454 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u454_img.selected {
}
#u454.selected {
}
#u454_img.disabled {
}
#u454.disabled {
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u454_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u455 label {
  left:0px;
  width:100%;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:411px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u455 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u455_img.selected {
}
#u455.selected {
}
#u455_img.disabled {
}
#u455.disabled {
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u455_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u456 label {
  left:0px;
  width:100%;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:411px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u456 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u456_img.selected {
}
#u456.selected {
}
#u456_img.disabled {
}
#u456.disabled {
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u456_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u457 label {
  left:0px;
  width:100%;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:411px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u457 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u457_img.selected {
}
#u457.selected {
}
#u457_img.disabled {
}
#u457.disabled {
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u457_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u458 label {
  left:0px;
  width:100%;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:1522px;
  top:411px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u458 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u458_img.selected {
}
#u458.selected {
}
#u458_img.disabled {
}
#u458.disabled {
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u458_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:487px;
  width:118px;
  height:37px;
  display:flex;
  font-size:28px;
}
#u459 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u460 label {
  left:0px;
  width:100%;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:543px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u460 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u460_img.selected {
}
#u460.selected {
}
#u460_img.disabled {
}
#u460.disabled {
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u460_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u461 label {
  left:0px;
  width:100%;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:543px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u461 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u461_img.selected {
}
#u461.selected {
}
#u461_img.disabled {
}
#u461.disabled {
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u461_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u462 label {
  left:0px;
  width:100%;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:543px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u462 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u462_img.selected {
}
#u462.selected {
}
#u462_img.disabled {
}
#u462.disabled {
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u462_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u463 label {
  left:0px;
  width:100%;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:543px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u463 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u463_img.selected {
}
#u463.selected {
}
#u463_img.disabled {
}
#u463.disabled {
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u463_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u464 label {
  left:0px;
  width:100%;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:543px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u464 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u464_img.selected {
}
#u464.selected {
}
#u464_img.disabled {
}
#u464.disabled {
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u464_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:122px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:590px;
  width:795px;
  height:122px;
  display:flex;
}
#u465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:608px;
  width:112px;
  height:31px;
  display:flex;
  font-size:28px;
}
#u466 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u467 label {
  left:0px;
  width:100%;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:661px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u467 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u467_img.selected {
}
#u467.selected {
}
#u467_img.disabled {
}
#u467.disabled {
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u467_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u468 label {
  left:0px;
  width:100%;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:661px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u468 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u468_img.selected {
}
#u468.selected {
}
#u468_img.disabled {
}
#u468.disabled {
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u468_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u469 label {
  left:0px;
  width:100%;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:12px;
  height:12px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:661px;
  width:100px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u469 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u469_img.selected {
}
#u469.selected {
}
#u469_img.disabled {
}
#u469.disabled {
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u469_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF4B55;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:733px;
  width:198px;
  height:22px;
  display:flex;
  font-size:20px;
  color:#FF4B55;
}
#u470 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:799px;
  width:140px;
  height:40px;
  display:flex;
}
#u471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(217, 83, 79, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:1151px;
  top:799px;
  width:140px;
  height:40px;
  display:flex;
}
#u472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:66px;
  width:761px;
  height:188px;
  display:flex;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:92px;
  width:250px;
  height:22px;
  display:flex;
  font-size:20px;
}
#u474 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#B2BAC7;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:137px;
  width:250px;
  height:22px;
  display:flex;
  font-size:20px;
  color:#B2BAC7;
}
#u475 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:182px;
  width:97px;
  height:45px;
  display:flex;
  font-size:18px;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:36px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:62px;
  display:flex;
  font-size:36px;
}
#u477 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
